<div class="container bgimg" style="width: 100%; height: 100%">
    <div class="mat-expansion-panel" >
        <div class="toolbar">
            <mat-toolbar >
                <mat-toolbar-row>
                    <span><img  src="/assets/aa-logo-home.png" height="30px"></span>
                    <!--<mat-toolbar align="center"> PNR Creation</mat-toolbar>-->
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

        <div>
            <nav mat-tab-nav-bar>
                <a mat-tab-link
                   *ngFor="let link of navLinks"
                   [routerLink]="link.path"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive">
                    {{link.label}}
                </a>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>
    <app-loader></app-loader>
</div>